LOSCFG_CROSS_COMPILE="xtensa-esp32-elf-"
LOSCFG_PLATFORM_QEMU_XTENSA_ESP32=y
LOSCFG_USE_OPENVALLEY_APPLICATION=y
LOSCFG_NIOBEU4_APPLICATION_101=y
# LOSCFG_KERNEL_SIGNAL is not set
LOSCFG_LIBC_NEWLIB=y
# LOSCFG_POSIX_API is not set
LOSCFG_FS_LITTLEFS=y
LOSCFG_LFS_MAX_MOUNT_SIZE=1
LOSCFG_LFS_MAX_OPEN_FILES=10
# LOSCFG_DRIVERS is not set
